.nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  z-index: 9999999;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 250px;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
}

.sidebar-menu li a {
  text-decoration: none;
  color: rgb(193, 190, 190);
  display: flex;
  width: 90%;
  align-items: center;
  padding: 5px 10px;
}

.sidebar-menu li h6 {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.sidebar-menu li a.active {
  background-color: #3040b9;
  border-radius: 5px;
  color: white;
}
.sidebar-menu li a.activeUser {
  background-color: #4451b7;
  border-radius: 5px;
}
.sidebar-menu li:last-child {
  max-width: 250px;
  position: fixed;
  bottom: 20px;
}
